@import "tailwindcss";

@theme inline {
  --color-brand-blue: #0f2744;
  --color-brand-lemon: #D8F800;
  --font-sans: "Outfit", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-heading: "Outfit", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

/* Custom Utilities if needed */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
}

body {
  color: unset;
  font-size: unset;
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* Hide Next.js Dev Indicator */
nextjs-portal {
  display: none !important;
}