@import "tailwindcss";

@theme inline {
  --color-brand-blue: #0f2744;
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
}

/* Custom Utilities if needed */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* Hide Next.js Dev Indicator */
nextjs-portal {
  display: none !important;
}